**/target/
/target/
*/target/*
.classpath
.project
.settings
=======
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war


*.iml
*.idea
=======
*.nar
*.ear
*.zip
*.tar.gz
*.rar
